<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app-1">
      <a v-bind:href="url">Link</a>
    </div>
    <div id="app-2">
      <span v-if="visible">Etiqueta Span </span>
    </div>

    <div id="app-3">
        <ul>
            <li v-for="palabra in palabras">{{palabra.text}}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      let app1 = new Vue({
        el: "#app-1",
        data: {
          url: "https://google.com",
        },
      });

      let app2 = new Vue({
        el: "#app-2",
        data: {
          visible: true,
        },
      });

      let app3 = new Vue({
        el: "#app-3",
        data: {
          palabras: [{ text: "Lorem" }, { text: "Ipsum" }, { text: "sit" }],
        },
      });
    </script>
  </body>
</html>
