/* para que el scroll baje suavemente por la pagina */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 3em;
    color: #3e3e3e;
}
h2{
    font-size: 1.3em;
    color: #4f4f4f;
}
p{
    font-size: 1.2em;
    color: #6a6a6a;
    margin-right: 10%;
    text-align: justify;
}

/* Header section */
#header{
    height: 60px;
    padding: 0 10em;
    border-bottom: 2px solid #cecece;
    display: flex;
}
.header-brand{
    width: 25%;
    padding-top: 1em;
}
.header-brand h3{
    font-size: 1.2em;
    color: #5d5d5d;
    margin: 0;
}
.header-menu{
    width: 75%;
    text-align: end;
    padding-top: 1em;
}

.header-menu a{
    text-decoration: none;
    color: #5e5e5e;
    font-size: 1.2em;
}
/* Home section */
/* dar altura a la seccion con id llamada home */
#home{
    height: inherit;
}
.img-container{
    position: absolute;
    margin-top: 10em;
    margin-left: 5%;
}
.profile{
    clip-path: circle(40%);
    aspect-ratio: 1 / 1;
    width: 70%;
    object-fit: cover;
    transition: 1s;
}    

.profile:hover{
    clip-path: circle(50%);
}
.description{
    position: absolute;
    margin-top: 15em;
    margin-left: 40%;
}

/* Skills section */

#skills{
    height: 100vh;
}
.some-skills{
    position: absolute;
    margin-left: 10%;
 
}

/* Responsive */
@media screen and (max-width: 420px) {
    #header{
        padding: 0 2em;
    }
    .header-brand, .header-menu{
        width: 50%;
    }
    .img-container{
        margin-top: 2em;
    }
    .description{
        margin-top: 17em;
        margin-left: 10%;
    }
}